<div class="container">
	<div class="row">
	  <div class="col-sm-6 col-md-4" *ngFor="let hero of heroes.content; let i=index">
	    <div class="thumbnail">
	      <img src="..." alt="...">
	      <div class="caption">
	        <h3>{{hero.name}}</h3>
	        <p>{{hero.nick}}</p>
	        <p><button class="btn btn-primary" role="button">Button</button> <button class="btn btn-default" role="button">Button</button></p>
	      </div>
	    </div>
	  </div>
	</div>
	<nav aria-label="Page navigation">
	  <ul class="pager">
	    <li><a (click)="getHeroes(heroes.number - 1, 10, heroes.totalPages);"><span aria-hidden="true">&larr;</span> Previous</a></li>
	    <li><a (click)="getHeroes(heroes.number + 1, 10, heroes.totalPages);">Next <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>
	<button (click)="onSelect()">转到</button>
	<!-- 
	<label>New name: <input #newHeroName /></label>
	<label>New nick: <input #newHeroNick /></label>
	
	<button (click)="addHero(newHeroName.value, newHeroNick.value); newHeroName.value=''; newHeroNick.value=''">Add Hero</button>
	 -->
	<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
</div>