<table class="table table-hover table-responsive">
  <tr>
  	<th>ID</th>
  	<th>Name</th>
  	<th>Nick</th>
  </tr>
  <tr *ngFor="let hero of heroes">
  	<td>{{hero.id}}</td>
  	<td>{{hero.name}}</td>
  	<td>{{hero.nick}}</td>
  </tr>
</table>

<label>New name: <input #newHeroName /></label>
<label>New nick: <input #newHeroNick /></label>

<button (click)="addHero(newHeroName.value, newHeroNick.value); newHeroName.value=''; newHeroNick.value=''">Add Hero</button>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>